.custom-scroll-pretty_container {
    overflow: hidden !important;
    position: absolute;
    height: 103px;
    width: 176px;
    background: #F1F1F1;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    z-index: 2;
}

.dropdown-block {
    cursor: pointer;
}

.scroll-position {
    position: absolute;
    top: -2px;
    left: -5px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    // transition: 0.2s;
    // -o-transition: 0.2s;
    // -moz-transition: 0.2s;
    // -webkit-transition: 0.2s;
}

.ul-block {
    list-style: none;
    padding-left: 14px;
    margin: 0;
}

.btn-span {
    position: relative;
}

.list {
    padding: 3.5px;
    cursor: pointer;
    position: relative;
    &:first-child {
        position: relative;
        left: -15px;
        padding-bottom: 8px;
        padding-left: 5px;
    }
    &:first-child::after {
        display: inline-block;
        content: '';
        width: 10px;
        height: 5px;
        background-image: url('../img/arrow-up.svg');
        left: 7px;
        position: relative;
        top: -2px;
    }
}

.list-hover:hover::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    top: 13px;
    left: -5px;
    background-color: black;
}

.user-decline {
    .list-hover:hover::before {
        top: 7px;
    }
}

.otdel .list:first-child {
    font-weight: 300;
}

.otdel .list {
    font-weight: 400;
    &:hover::before {
        top: 7px;
    }
}

.list-img {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.status-color {
    content: '';
    position: absolute;
    height: 2px;
    width: 21%;
    background-color: #FFCF00;
    top: 18px;
}

.status .list {
    &:first-child::before {
        content: '';
        width: 37px;
        height: 2px;
        position: absolute;
        background-color: #FFCF00;
        top: 17px;
        left: 5px;
    }
    &:nth-child(2)::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        background-color: #FFCF00;
        left: -10px;
    }
    &:nth-child(3)::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        background-color: #00CC00;
        left: -10px;
    }
    &:nth-child(4)::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        background-color: #FF0000;
        left: -10px;
    }
    &:nth-child(5)::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        background-color: #00B9FF;
        left: -10px;
    }
    &:nth-child(6)::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        background-color: #00CC00;
        left: -10px;
    }
    &:nth-child(7)::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        background-color: #00B9FF;
        left: -10px;
    }
}

.btn-span:after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 5px;
    background-image: url('../img/arrow-down.svg');
    left: 7px;
    position: relative;
    top: -2px;
}

.pay {
    .btn-span:after {
        left: 3px;
    }
    .coin-position {
        width: 13px;
        height: 13px;
        top: 2px;
    }
    .list:nth-child(2) {
        left: -2px;
    }
    .list:nth-child(5) {
        left: -2px;
    }
    .list-hover:hover::before {
        top: 10px;
    }
}

.mail .scroll-position {
    left: -15px;
}

.mail {
    .list:nth-child(2) {
        left: -5px;
    }
    .list:nth-child(4) {
        left: -3px;
    }
    .list:nth-child(5) {
        left: -5px;
    }
    .list:nth-child(7) {
        left: -3px;
    }
    .rus-icon {
        width: 16px;
        height: 16px;
    }
}

.user-select {
    .list-hover:hover::before {
        top: 7px;
    }
}

.toggle {
    visibility: visible;
    opacity: 1;
}

.custom-scroll-pretty_inner {
    overflow: scroll;
    height: 100%;
    *position: absolute;
    /* ie7 fix */
    *left: 0;
    *right: 0;
}

.custom-scroll-pretty_inner::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.custom-scroll-pretty_inner {
    -ms-overflow-style: none;
}

.custom-scroll-pretty_bar-y,
.custom-scroll-pretty_bar-x {
    cursor: default;
    position: absolute;
    border-radius: 1px;
    z-index: 1;
    background: rgb(90, 89, 89);
    opacity: .4;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: opacity .2s;
}

.custom-scroll-pretty_bar-y:hover,
.custom-scroll-pretty_bar-x:hover {
    opacity: .7;
}

.custom-scroll-pretty_bar-y:active,
.custom-scroll-pretty_bar-x:active {
    opacity: 1;
}

.custom-scroll-pretty_hidden-y>.custom-scroll-pretty_bar-y,
.custom-scroll-pretty_hidden-x>.custom-scroll-pretty_bar-x {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility step-end .3s;
}


/* changes */

.custom-scroll-pretty_bar-y {
    right: 6px;
    border-radius: 5px;
    width: 3px;
}

.custom-scroll-pretty_track-y,
.custom-scroll-pretty_track-x {
    position: absolute;
    background: #eee;
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
    transition: box-shadow .3s;
    height: 90.5%;
}

.custom-scroll-pretty_track-y {
    right: 6px;
    width: 3px;
    top: 5px;
}

.custom-scroll-pretty_hidden-x>.custom-scroll-pretty_track-y {
    bottom: 0;
}

.custom-scroll-pretty_hidden-y>.custom-scroll-pretty_track-x {
    right: 0;
}

.custom-scroll-pretty_track-y:hover,
.custom-scroll-pretty_track-x:hover {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
}

.custom-scroll-pretty_hidden-y>.custom-scroll-pretty_track-y,
.custom-scroll-pretty_hidden-y>.custom-scroll-pretty_bar-y {
    opacity: 0;
    height: 100%;
    top: 0;
    visibility: hidden;
    transition: opacity .3s, height .3s, top .1s, visibility step-end .3s;
}

.custom-scroll-pretty_hidden-x>.custom-scroll-pretty_track-x,
.custom-scroll-pretty_hidden-x>.custom-scroll-pretty_bar-x {
    opacity: 0;
    width: 100%;
    left: 0;
    visibility: hidden;
    transition: opacity .3s, height .3s, top .1s, visibility step-end .3s;
}

.table-scroll {
    position: relative;
    .custom-scroll-pretty_container {
        overflow: hidden !important;
        position: relative;
        z-index: 2;
        height: 140px;
        width: 240px;
        background-color: white;
        box-shadow: none;
        backdrop-filter: none;
        .custom-scroll-pretty_inner {
            overflow: scroll;
            height: 100%;
            *position: absolute;
            /* ie7 fix */
            *left: 0;
            *right: 0;
            height: 140px;
            width: 280px;
        }
        .custom-scroll-pretty_inner {
            -ms-overflow-style: none;
        }
        .custom-scroll-pretty_bar-y,
        .custom-scroll-pretty_bar-x {
            cursor: default;
            position: absolute;
            border-radius: 1px;
            z-index: 1;
            background: rgb(90, 89, 89);
            opacity: .4;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            transition: opacity .2s;
        }
        .custom-scroll-pretty_inner::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        .custom-scroll-pretty_track-y {
            right: 0;
            width: 5px;
            height: 100%;
            border-radius: 5px;
            top: 0;
        }
        .custom-scroll-pretty_bar-y {
            right: 0px;
            border-radius: 5px;
            width: 5px;
            top: 0;
        }
    }
}

.table-scroll {
    .custom-scroll-pretty_hidden-x>.custom-scroll-pretty_track-x,
    .custom-scroll-pretty_hidden-x>.custom-scroll-pretty_bar-x {
        opacity: 0;
        width: 100%;
        left: 0;
        visibility: hidden;
        transition: opacity .3s, height .3s, top .1s, visibility step-end .3s;
    }
    .custom-scroll-pretty_hidden-y>.custom-scroll-pretty_track-x {
        right: 0;
    }
    .custom-scroll-pretty_track-y:hover,
    .custom-scroll-pretty_track-x:hover {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    }
    .custom-scroll-pretty_hidden-y>.custom-scroll-pretty_track-y,
    .custom-scroll-pretty_hidden-y>.custom-scroll-pretty_bar-y {
        opacity: 0;
        height: 100%;
        top: 0;
        visibility: hidden;
        transition: opacity .3s, height .3s, top .1s, visibility step-end .3s;
    }
    .custom-scroll-pretty_hidden-x>.custom-scroll-pretty_track-y {
        bottom: 0;
    }
    .custom-scroll-pretty_hidden-y>.custom-scroll-pretty_track-x {
        right: 0;
    }
}

.category-list .list-hover:hover::before {
    top: 8px;
}

.product-list .list-hover:hover::before {
    top: 7px;
}

.category-list {
    position: relative;
}

.product-list {
    position: relative;
    .custom-scroll-pretty_container {
        height: 103px;
        width: 320px;
    }
}